:root {
  --bg-color: #000028;
  --decorative-item-color: #FF0070;
  --theme-menu-color: #FF0070;
  --button-hover-color: rgba(255, 0, 112, 0.4);
  --text-color: #F1B2CE;
  --accent-color: #FF0070;
  --title-text-color: #DB00FF;
  --title-shadow-color: #FF0070;
  --main-title-color: #FF0070;
  --main-subtitle-color: #000028;
  --link-shadow-color: #FF0070;
  --main-font: 'IBM Plex mono', monospace;
  --font-size-title-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --font-size-title-desktop: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --font-size: 18px;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --background-image: url(../images/cover-image-dark.png);
} 